**/.vs/
**/bin/debug/
**/bin/release/
**/obj/
AureliaTest/wwwroot/scripts/app-bundle\.js

AureliaTest/wwwroot/scripts/app-bundle\.js\.map

AureliaTest/wwwroot/scripts/vendor-bundle\.js

AureliaTest/npm-debug\.log\.1134792609

AureliaTest/wwwroot/bootstrap/fonts/glyphicons-halflings-regular\.ttf

AureliaTest/wwwroot/bootstrap/fonts/glyphicons-halflings-regular\.woff

AureliaTest/wwwroot/bootstrap/fonts/glyphicons-halflings-regular\.woff2

AureliaTest/AureliaTest\.csproj\.user

AureliaTest/Properties/PublishProfiles/MarwijnAurelia - Web Deploy\.pubxml

AureliaTest/Properties/PublishProfiles/MarwijnAurelia - Web Deploy\.pubxml\.user

*.user
